@model IEnumerable<Repository.Models.Products.Product>

@{
    ViewBag.Title = "Index";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDigital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsService)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDigital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsService)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { ProductId = item.ProductId }) |
            @Html.ActionLink("Delete", "DeleteProduct", new { ProductId = item.ProductId })
        </td>
    </tr>
}

</table>
